
html, body {
    height: 100%;
    width: 100%;
    font-family: 'system-ui';
	background-image: url('/static/img/tsne_movies_2.jpg');
	background-size: cover;
}

.home {
	  text-shadow: 3px 3px #000;
	  background: rgba(0, 0, 0, 0.4);
	  width: auto;
	  margin: auto;
	  margin-top: 3em;
	  width: 75%;
	  padding-bottom: 5em;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
.home:hover {

	  background: rgba(0, 0, 0, 0.55);

}

.yes {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn.btn-outline-success, form .form-control {
	background: black;
	color: white;
	border: white;
	font-size: 1.2em;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

h5.card-title {
	font-size: 2.6em;
	color: black;
	font-weight: bold;
	font-style: normal;
}
h5.card-title small {
	font-size: 0.7em;
	color: #aaa;
}

.movieId {
	font-size: 0.8em;
	color: #444;

}

.card-body {
    overflow: hidden;
    word-break: break-all;
    overflow: hidden;
}
.card-body img.poster {
	float: left;
	height: 300px;
	display: block;
	margin-right: 15px;
	position: relative;
	float: left;
}


.card-body .metadata {
	display: block;
	float: left;
  	word-break: break-all;
	overflow:hidden;
	word-wrap: break-word;
	float:none;
	margin: 0;
	padding: 0;
}

.card {
	opacity: 0.8;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.card:hover {
	opacity: 0.95;
}

iframe {background:black;}