{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

    <div class="container">
        {% for data, scores in res %}
            {% if data[3]==id_q %}
                <h4 class="card-title" style="color: black; font-style: italic">Query paper:</h4>{% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" {% if data[3]==id_q %} style="color: crimson; display: inline" {% else %}
                        style="display: inline" {% endif %}>{{ data[0] }},</h5>
                    <h6 class="text-muted" style="display: inline">{{ data[-2] }}</h6>
                    <h7 style="font-weight: bold; display: block">Abstract</h7>
                    <p class="card-text">{{ data[2] }}</p>

                    <a {% if data[3]==id_q %} class="btn btn-outline-danger" {% else %}
                                              class="btn btn-outline-success" {% endif %} href="{{ data[-1] }}"
                                              role="button" target="_blank">PDF</a>

                    <a {% if data[3]==id_q %} class="btn btn-outline-danger" {% else %}
                                              class="btn btn-outline-success" {% endif %} href="/sim_{{ data[3] }}"
                                              role="button">Show similar</a>

                    <a {% if data[3]==id_q %} class="btn btn-outline-danger" {% else %}
                                              class="btn btn-outline-success" {% endif %} href="#"
                                              role="button">Score = {{ scores | format_score }}</a>
                </div>
            </div>
            <br>{% if data[3]==id_q %}
            <h4 class="card-title" style="color: black; font-style: italic">Most similar papers:</h4>{% endif %}
        {% endfor %}
    </div>
{% endblock %}